<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @student.first_name %><br>

    <%= @student.last_name%>

  </body>
</html>
