<%= form_for @school_class do |f| %>
  <label>School Class Form</label><br>
  <%= f.text_field :title %><br>

  <label>Class Room<label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit "Create School class" %>

<% end %>